doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        each css in cssRessource
            link(rel='stylesheet', href='#{css}', type='text/css')
        style
            if invoice.color
                | .total h1 {
                |   color: ##{invoice.color};
                | }
            if invoice.company_logo
                | .logo {
                |     background-image: url(#{invoice.company_logo});
                |     width: 300px;
                |     background-repeat:  no-repeat;
                |     background-size: 300px;
                |     height: #{invoice.logo_height}px;
                | }
    body.layout
        .row.invoice-body
            .columns
                .row.white-small 
                    .columns.small-10
                        if invoice.company_logo
                            .row
                                .columns.small-5.white-small
                                    .logo
                        .row
                          .columns.invoice.upper
                            | #{invoice.label_invoice} ##{invoice.number}
                    .small-2.columns
                      .row
                          .columns.date
                              | #{invoice.date_formated}
                .row.white-small
                  .columns.end
                      .row
                          .columns.component-title
                            | #{invoice.label_invoice_by}
                      .row
                        .columns
                          | #{invoice.company_name}
                .row.white-small
                  .small-4.columns
                      .row
                          .columns.component-title
                            | #{invoice.label_invoice_to}
                      .row
                          .columns
                            | #{invoice.client_company_name}
                      .row.address
                          .columns
                              .row
                                  .columns
                                      | #{invoice.client_company_address}
                              .row
                                  .columns
                                      | #{invoice.client_company_zipcode} #{invoice.client_company_city}
                              .row
                                  .columns
                                      | #{invoice.client_company_country}
                  .small-offset-4.small-4.columns.total
                      .row
                          .columns.num
                            h1
                                if invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                                | #{invoice.total}
                                if !invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                      .row
                          .columns
                            | #{invoice.label_due_on} #{invoice.due_date_formated}
                if invoice.invoice_for
                    .row.white-small
                        .columns
                            .row
                              .small-12.columns.component-title
                                | #{invoice.label_invoice_for}
                            .row
                              .small-12.columns
                                | #{invoice.invoice_for}
                .row.white-small
                    .columns
                        .row
                          .small-7.columns.component-title #{invoice.label_description}
                          .small-1.columns.component-title #{invoice.label_unit}
                          .small-2.columns.component-title #{invoice.label_price}
                          .small-2.columns.component-title #{invoice.label_amount}
                          each line in invoice.lines.data
                            .row
                              .small-7.columns #{line.description || 'Item description'}
                              .small-1.columns #{line.quantity}
                              .small-2.columns 
                                if invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                                | #{line.price}
                                if !invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                              .small-2.columns
                                if invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                                | #{line.amount}
                                if !invoice.currency_position_before
                                    | #{invoice.currency_symbol}
                .row
                  .small-10.columns.upper #{invoice.label_subtotal}
                  .small-2.columns.num
                    if invoice.currency_position_before
                        | #{invoice.currency_symbol}
                    | #{invoice.subtotal}
                    if !invoice.currency_position_before
                        | #{invoice.currency_symbol}
                .row
                  .small-10.columns.upper #{invoice.label_vat}
                  .small-2.columns.num #{invoice.tax_percent}%
                .row.total-line.upper
                  .small-10.columns #{invoice.label_total}
                  .small-2.columns.num
                    if invoice.currency_position_before
                        | #{invoice.currency_symbol}
                    | #{invoice.total}
                    if !invoice.currency_position_before
                        | #{invoice.currency_symbol}
        .row.footer
            .columns
                .row
                    .small-3.columns
                        .row
                            .columns.component-title
                                | #{invoice.label_invoice_by}
                        .row
                            .columns
                                | #{invoice.company_name}
                        .row.address
                            .columns
                                .row
                                    .columns
                                        | #{invoice.company_address}
                                .row
                                    .columns
                                        | #{invoice.company_zipcode} #{invoice.company_city}
                                .row
                                    .columns
                                        | #{invoice.company_country}
                    .small-3.columns
                        .row
                            .columns.component-title
                                | #{invoice.label_invoice_date}
                        .row.white-small
                            .columns
                                | #{invoice.date_formated}
                        .row
                            .columns.component-title
                                | #{invoice.label_invoice_number}
                        .row
                            .columns.num
                                | ##{invoice.number}
                    .small-3.columns
                        .row
                            .columns.component-title
                                | #{invoice.label_invoice_due_date}
                        .row.white-small
                            .columns
                                | #{invoice.due_date_formated}
                        if invoice.receipt_number
                            .row
                                .columns.component-title
                                    | #{invoice.label_reference_number}
                            .row
                                .columns.num
                                    | #{invoice.receipt_number}
                    .small-3.columns
                        if invoice.company_siret
                            .row
                                .columns.component-title
                                    | #{invoice.label_company_siret}
                            .row.white-small
                                .columns.num
                                    | #{invoice.company_siret}
                        if invoice.company_vat_number
                            .row
                                .columns.component-title
                                    | #{invoice.label_company_vat_number}
                            .row
                                .columns.num
                                    | #{invoice.company_vat_number}
